<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DIabFitApp"
        tools:targetApi="31">
        <activity
            android:name=".ProgressMonitoring"
            android:exported="false" />
        <activity
            android:name=".PersonaliseWorkout"
            android:exported="false" />
        <activity
            android:name=".EmergencyAlerts"
            android:exported="false" />
        <activity
            android:name=".MedicationReminders"
            android:exported="false" />
        <activity
            android:name=".HealthInsights"
            android:exported="false" />
        <activity
            android:name=".SugerLogging"
            android:exported="false" />
        <activity
            android:name=".CommunityForum"
            android:exported="false" />
        <activity
            android:name=".DiabatesEducation"
            android:exported="false" />
        <activity
            android:name=".CGCount"
            android:exported="false" />
        <activity
            android:name=".MealPlanning"
            android:exported="false" />
        <activity
            android:name=".FoodDatabase"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
-            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity>
        <activity android:name=".EducationSupportActivity" />
        <activity android:name=".nutrition_tracking_activity" />
        <activity android:name=".exercise_plans_activity" />
        <activity android:name=".HealthMonitoringActivity" />
    </application>

</manifest>